{% extends "base.html.twig" %}

{% block title 'Gérer le site internet' %}

{% block body %}

    <div class="container mt-4 mb-4 w-50">

        <p class="title-cont text-center">Gérer le site internet</p>

        <hr class="w-50 m-auto mb-3">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center m-auto mb-3 w-50">
                <i class="fa fa-check text-success" aria-hidden="true"></i> {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger text-center m-auto mb-3 w-50">
                <i class="fas fa-times text-danger" aria-hidden="true"></i> {{ message }}
            </div>
        {% endfor %}

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="title-cont text-center">Header</p>
                    {% for websites in websiteHeader %}
                        <ul class="list-group">
                            <li class="list-group-item text-center"><b>Titre du site : </b><br/>{{ websites.webTitle }}</li>
                            <li class="list-group-item text-center"><b>Description : </b><br/>{{ websites.content }}</li>
                            <li class="list-group-item text-center"><b>Lien du site : </b><br/>{{ websites.websiteurl }}</li>
                        </ul>
                        <div class="m-auto text-center mt-4 mb-4">
                            <a href="{{ path('admin.website.editHeader', {id: websites.id}) }}" class="btn btn-primary">Editer</a>
                        </div>
                    {% endfor %} 

                    <hr>

                        <p class="title-cont text-center">Menu Footer</p>
                        {% for websites in websiteMenuFooter %}
                            <ul class="list-group m-auto">
                                <li class="list-group-item text-center"><b>Bouton {{ websites.id }} : </b><br/><a href="../{{ websites.link }}"><i class></i> {{ websites.button }}</a></li>
                            </ul>
                            <div class="m-auto text-center mt-4 mb-4">
                                <a href="{{ path('admin.website.editMenuFooter', {id: websites.id}) }}" class="btn btn-primary">Editer</a>
                                <a href="{{ path('admin.website.deleteMenuFooter', {id: websites.id}) }}" class="btn btn-danger ml-3">Supprimer</a>
                            </div>
                        {% endfor %}   
                        <div class="m-auto text-center mt-4 mb-4">
                                <a href="{{ path('admin.website.newMenuFooter') }}" class="btn btn-primary">Crée un bouton</a>             
                        </div>  
                    
                </div>
                <div class="col-md-6">
                    <p class="title-cont text-center">Menu Gauche</p>
                    {% for websites in websiteMenu %}
                        <ul class="list-group">
                            <li class="list-group-item text-center"><b>Bouton {{ websites.id }} : </b><br/><a href="../{{ websites.link }}">{{ websites.button }}</a></li>
                        </ul>
                        <div class="m-auto text-center mt-4 mb-4">
                            <a href="{{ path('admin.website.editMenu', {id: websites.id}) }}" class="btn btn-primary">Editer</a>
                            <a href="{{ path('admin.website.deleteMenu', {id: websites.id}) }}" class="btn btn-danger ml-3">Supprimer</a>
                        </div>
                    {% endfor %}  
                    <div class="m-auto text-center mt-4 mb-4">
                            <a href="{{ path('admin.website.newMenu') }}" class="btn btn-primary">Crée un bouton</a>
                    </div>  
                </div>
            </div>
        </div>
       
        <hr class="w-50 m-auto mb-3">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="title-cont text-center">Menu Droite</p>
                    {% for websites in websiteMenu2 %}
                        <ul class="list-group">
                            {% if websites.button1 != null %}<li class="list-group-item text-center"><b>Bouton 1 : </b><br/><a href="../{{ websites.link1 }}">{{ websites.button1 }}</a></li>{% endif %}
                            {% if websites.button2 != null %}<li class="list-group-item text-center"><b>Bouton 2 : </b><br/><a href="../{{ websites.link2 }}">{{ websites.button2 }}</a></li>{% endif %}
                            {% if websites.button3 != null %}<li class="list-group-item text-center"><b>Bouton 3 : </b><br/><a href="../{{ websites.link3 }}">{{ websites.button3 }}</a></li>{% endif %}
                            {% if websites.button4 != null %}<li class="list-group-item text-center"><b>Bouton 4 : </b><br/><a href="../{{ websites.link4 }}">{{ websites.button4 }}</a></li>{% endif %}
                        </ul>
                        <div class="m-auto text-center mt-4 mb-4">
                            <a href="{{ path('admin.website.editMenu2', {id: websites.id}) }}" class="btn btn-primary">Editer</a>
                        </div>
                    {% endfor %}  
                    <hr>
                    <p class="title-cont text-center">Footer</p>
                    {% for websites in websiteFooter %}
                        <ul class="list-group m-auto">
                            <li class="list-group-item text-center"><b>Réseau social : </b><br/>{{ websites.facebook }}</li>
                            <li class="list-group-item text-center"><b>Réseau social : </b><br/>{{ websites.twitter }}</li>
                            <li class="list-group-item text-center"><b>Réseau social : </b><br/>{{ websites.instagram }}</li>
                            <li class="list-group-item text-center"><b>Adresse : </b><br/>{{ websites.address }}</li>
                            <li class="list-group-item text-center"><b>Code postal : </b><br/>{{ websites.postalCode }}</li>
                            <li class="list-group-item text-center"><b>Ville : </b><br/>{{ websites.city }}</li>
                            <li class="list-group-item text-center"><b>Téléphone : </b><br/>{{ websites.phone }}</li>
                            <li class="list-group-item text-center"><b>Bas de page : </b><br/>{{ websites.copyright }}</li>
                        </ul>
                        <div class="m-auto text-center mt-4 mb-4">
                            <a href="{{ path('admin.website.editFooter', {id: websites.id}) }}" class="btn btn-primary">Editer</a>
                        </div>
                    {% endfor %} 

                    <hr>

                    <p class="title-cont text-center">Menu Professionnel</p>
                    {% for websites in websiteMenuPro %}
                        <ul class="list-group m-auto">
                            <li class="list-group-item text-center"><b>Bouton {{ websites.id }} : </b><i class="fas {{ websites.icon }} mr-2"></i><br/><a href="../{{ websites.link }}">{{ websites.button }}</a></li>
                        </ul>
                        <div class="m-auto text-center mt-4 mb-4">
                            <a href="{{ path('admin.website.editMenuPro', {id: websites.id}) }}" class="btn btn-primary">Editer</a>
                            <a href="{{ path('admin.website.deleteMenuPro', {id: websites.id}) }}" class="btn btn-danger ml-3">Supprimer</a>
                        </div>

                    {% endfor %}  
                    <div class="m-auto text-center mt-4">
                            <a href="{{ path('admin.website.newMenuPro') }}" class="btn btn-primary">Crée un bouton</a>
                    </div> 
                </div>

                <div class="col-md-6">
                    <p class="title-cont text-center">Menu Admin</p>
                    {% for websites in websiteMenuAdmin %}
                        <ul class="list-group m-auto">
                            <li class="list-group-item text-center"><b>Bouton {{ websites.id }} : </b><i class="fas {{ websites.icon }} mr-2"></i><br/><a href="../{{ websites.link }}"><i class></i> {{ websites.button }}</a></li>
                        </ul>
                        <div class="m-auto text-center mt-4 mb-4">
                            <a href="{{ path('admin.website.editMenuAdmin', {id: websites.id}) }}" class="btn btn-primary">Editer</a>
                            <a href="{{ path('admin.website.deleteMenuAdmin', {id: websites.id}) }}" class="btn btn-danger ml-3">Supprimer</a>
                        </div>
                    {% endfor %}   
                    <div class="m-auto text-center mt-4 mb-4">
                            <a href="{{ path('admin.website.newMenuAdmin') }}" class="btn btn-primary">Crée un bouton</a>             
                    </div> 
                    
                    <hr/>

                    <p class="title-cont text-center">Configuration Global BDD <i class="fas fa-exclamation-triangle ml-2 text-warning"></i></p>
                        <ul class="list-group m-auto">
                            
                                <li class="list-group-item text-center">Nom de la base de donnée :<br/>{{ globals.config.name }}</li>
                                <li class="list-group-item text-center">Adresse de la base de donnée :<br/>{{ globals.config.host }}</li>
                                <li class="list-group-item text-center">Port de la base de donnée :<br/>{{ globals.config.port }}</li>
                                <li class="list-group-item text-center">Utilisateur de la base de donnée :<br/>{{ globals.config.user }}</li>
                                <li class="list-group-item text-center">Mot de passe de la base de donnée :<br/>{{ globals.config.password }}</li>
  
                        </ul>

                    <hr/>

                    <p class="title-cont text-center">Configuration Global Email <i class="fas fa-exclamation-triangle ml-2 text-warning"></i></p>
                        <ul class="list-group m-auto">
                            
                                <li class="list-group-item text-center">Configuration email :<br/>{{ globals.config.url_mail }}</li>
  
                        </ul>   

                    <hr/>     

                </div>
                
            </div>        
        </div>

        <hr class="w-50 m-auto mb-3 mt-3">

        <p class="title-cont text-center">Gérer les pages du site internet</p>

        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Lien</th>
                                <th style="text-align: center;">Action</th>
                            </tr>    
                        </thead>
                        <tbody>
                            {% for websites in websitePage %}
                                <tr>
                                    <td style="vertical-align: middle;">{{ websites.title }}</td>
                                    <td style="vertical-align: middle;">{{ websites.link }}</td>
                                    <td style="vertical-align: middle; text-align: center;">
                                        <a href="{{ globals.websiteurl }}{{ websites.link }}" target="_blank" class="btn btn-primary">Voir</a>
                                        <a href="{{ path('admin.website.editPage', {id: websites.id}) }}" class="btn btn-secondary">Editer</a>
                                        <form method="post" action="{{ path('admin.website.deletePage', {id: websites.id}) }}" style="display: inline-block;">
                                            <input type="hidden" name="_method" value="DELETE" />
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ websites.id) }}" />
                                            <button class="btn btn-danger mt-2">Supprimer</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="text-right">
                        <a href='{{ path('admin.website.newPage') }}' class="btn btn-primary">Crée une page</a>
                    </div>
                </div>
            </div>
        </div>        

        <hr class="w-50 m-auto mb-3 mt-3">


    </div>
{% endblock %}