{% extends "base.html.twig" %}

{% block title 'Boîte de réception' %}

{% block body %}

	<style>
		a {
			text-decoration: none !important;
		}
	</style>

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<!-- Left sidebar -->
							<div class="col-lg-3 col-md-4">
								
								<div class="card shadow-none">
									{% if is_granted('ROLE_SUPER_ADMIN') %}
									<div class="list-group shadow-none">
										<a href="{{ path('admin.mailbox.index') }}" class="list-group-item active">
										<i class="fa fa-inbox mr-2"></i>Boîte de réception
											<b>
												{% if receptionAdmin == false %}
													(0)
												{% else %}
													({{ receptionAdmin }})
												{% endif %}
											</b>
										</a>
										<a href="{{ path('admin.mailbox.favoris') }}" class="list-group-item">
											<i class="fa fa-star-o mr-2"></i>Favoris
											{% if favoriteAdmin == false %}
												(0)
											{% else %}
												<b>({{ favoriteAdmin }})
												</b>
											{% endif %}
										</a>
										<a href="{{ path('admin.mailbox.trash') }}" class="list-group-item">
											<i class="fa fa-trash-o mr-2"></i>Corbeille
											{% if trashAdmin == false %}
												(0)
											{% else %}
												<b>({{ trashAdmin }})</b>
											{% endif %}
										</a>
										<a href="{{ path('admin.mailbox.importants') }}" class="list-group-item">
											<i class="fa fa-bookmark mr-2"></i>Important
											{% if importantAdmin == false %}
												(0)
											{% else %}
												<b>({{ importantAdmin }})</b>
											{% endif %}
										</a>
									</div>
								</div>
								{% elseif is_granted('ROLE_PRO') %}
									<div class="list-group shadow-none">
										<a href="{{ path('admin.mailbox.index') }}" class="list-group-item">
										<i class="fa fa-inbox mr-2"></i>Boîte de réception
											<b>
												{% if receptionPro == false %}
													(0)
												{% else %}
													({{ receptionPro }})
												{% endif %}
											</b>
										</a>
										<a href="{{ path('admin.mailbox.favoris') }}" class="list-group-item">
											<i class="fa fa-star-o mr-2"></i>Favoris
											{% if favoritePro == false %}
												(0)
											{% else %}
												<b>({{ favoritePro }})
												</b>
											{% endif %}
										</a>
										<a href="{{ path('admin.mailbox.trash') }}" class="list-group-item">
											<i class="fa fa-trash-o mr-2"></i>Corbeille
											{% if trashPro == false %}
												(0)
											{% else %}
												<b>({{ trashPro }})</b>
											{% endif %}
										</a>
										<a href="{{ path('admin.mailbox.importants') }}" class="list-group-item">
											<i class="fa fa-bookmark mr-2"></i>Important
											{% if importantPro == false %}
												(0)
											{% else %}
												<b>({{ importantPro }})</b>
											{% endif %}
										</a>
									</div>
								</div>
								{% endif %}

							</div>
							<!-- End Left sidebar -->

							<!-- Right Sidebar -->
							<div class="col-lg-9 col-md-8">
								<div class="row">
									<div class="col-lg-8">
										<div class="btn-toolbar" role="toolbar">
											<div class="btn-group mr-1">
												<a href="{{ path('admin.mailbox.index') }}" class="btn btn-outline-primary waves-effect waves-light">
													<i class="fa fa-inbox"></i>
												</a>
												<a onclick="window.location.reload();" class="btn btn-outline-primary waves-effect waves-light">
													<i class="fa fa-refresh"></i>
												</a>
												<a href="{{ path('admin.mailbox.delete', {id: mailbox.id}) }}" class="btn btn-outline-primary waves-effect waves-light">
													<i class="fa fa-trash-o"></i>
												</a>
											</div>

											<div class="btn-group mr-1">
												<a href="{{ path('admin.mailbox.favorite', {id: mailbox.id}) }}" class="btn btn-outline-warning">
													<i class="fas fa-star"></i>
												</a>
											</div>

                                            <div class="btn-group mr-1">
												<a href="{{ path('admin.mailbox.important', {id: mailbox.id}) }}" class="btn btn-outline-danger">
													<i class="fas fa-bookmark"></i>
												</a>
											</div>

										</div>
									</div>

								</div>
								<!-- End row -->
								<div class="card shadow-none border border-light">
									<div class="card-body">
										<div class="media mb-3">
											<img src="{{ globals.WebSiteUrl }}images/default_profil.png" class="rounded-circle mr-3 mail-img shadow" alt="media image" width="100" height="100">
											<div class="media-body">
												<span class="media-meta float-right">{{ mailbox.createdAt|format_datetime() }}</span>
												<h4 class="text-primary m-0">{{ mailbox.lastname }} - {{ mailbox.firstname }}</h4>
                                                <small class="text-muted">Sujet : {{ mailbox.subject }}</small><br/>
												<small class="text-muted">De : {{ mailbox.email }}</small><br/>
												{% if mailbox.phone != null %}
													<small class="text-muted">Téléphone : {{ mailbox.phone }}</small>
												{% endif %}
											</div>
										</div>
										<!-- media -->

                                        <hr/>

										<p>
											<b>Bonjour {{ app.user.username }},</b>
										</p>
										<p>{{ mailbox.content }}</p>

										<hr/>

										{% if is_granted('ROLE_SUPER_ADMIN') %}

											{% if mailbox.categorie == 6 %}
													{{ form_start(formAdmin) }}
													<div class="col-md-12">
														<div class="row" style="justify-content: center;">
															<div class="col-md-10">{{ form_row(formAdmin.content) }}</div>
														</div>
													</div>	
													<div style="text-align: center;">
														<button class="btn btn-primary">Envoyer le message</button>    
													</div>    
													{{ form_end(formAdmin) }}
											{% endif %}	
											
										{% elseif is_granted('ROLE_PRO') %}
											{% if mailbox.categorie == 5 %}
												{{ form_start(formAppartementA) }}
												<div class="col-md-12">
													<div class="row" style="justify-content: center;">
														<div class="col-md-10">{{ form_row(formAppartementA.content) }}</div>
													</div>
												</div>	
												<div style="text-align: center;">
													<button class="btn btn-primary">Envoyer le message</button>    
												</div>    
												{{ form_end(formAppartementA) }}
											{% elseif mailbox.categorie == 1 %}
												{{ form_start(formRent) }}
												<div class="col-md-12">
													<div class="row" style="justify-content: center;">
														<div class="col-md-10">{{ form_row(formRent.content) }}</div>
													</div>
												</div>	
												<div style="text-align: center;">
													<button class="btn btn-primary">Envoyer le message</button>    
												</div>    
												{{ form_end(formRent) }}
											{% elseif mailbox.categorie == 0 %}
												{{ form_start(formProperty) }}
												<div class="col-md-12">
													<div class="row" style="justify-content: center;">
														<div class="col-md-10">{{ form_row(formProperty.content) }}</div>
													</div>
												</div>	
												<div style="text-align: center;">
													<button class="btn btn-primary">Envoyer le message</button>    
												</div>    
												{{ form_end(formProperty) }}
											{% elseif mailbox.categorie == 7 %}
												{{ form_start(formAppartementB) }}
												<div class="col-md-12">
													<div class="row" style="justify-content: center;">
														<div class="col-md-10">{{ form_row(formAppartementB.content) }}</div>
													</div>
												</div>	
												<div style="text-align: center;">
													<button class="btn btn-primary">Envoyer le message</button>    
												</div>    
												{{ form_end(formAppartementB) }}	
											{% endif %}	
										{% endif %}	

									</div>
								</div>
								<!-- card -->
							</div>
							<!-- end Col-9 -->

						</div>
						<!-- End row -->

					</div>
				</div>
			</div>
		</div>
		<!-- End row -->

	</div>

{% endblock %}
