{% extends "base.html.twig" %}

{% block title 'Gérer les biens' %}

{% block body %}

    <div class="container mt-4 mb-4 w-50">

        <p class="title-cont">Gérer les biens</p>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center">
                <i class="fa fa-check text-success" aria-hidden="true"></i> {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger text-center">
                <i class="fas fa-times text-danger" aria-hidden="true"></i> {{ message }}
            </div>
        {% endfor %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Disponibilité</th>
                    <th style="text-align: center;">Action</th>
                </tr>    
            </thead>
            <tbody>
            {% for property in properties %}
                <tr>
                    <td style="vertical-align: middle;">{{ property.title }}</td>
                    <td style="vertical-align: middle;">{% if property.sold == 0 %}<i class="fas fa-check text-success"></i> Disponible{% else %}<i class="fas fa-times text-danger"></i> Louer{% endif %}</td>
                    <td style="vertical-align: middle; text-align: center;">
                        <a href="{{ path('admin.property.edit', {id: property.id}) }}" class="btn btn-secondary">Editer</a>
                        <form method="post" action="{{ path('admin.property.delete', {id: property.id}) }}" style="display: inline-block;">
                            <input type="hidden" name="_method" value="DELETE" />
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id) }}" />
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="row mt-4">
            <div class="col-12 col-md-12 col-xl-12" style="display: flex;justify-content: space-around;">
                {{ knp_pagination_render(properties) }}
            </div>
        </div>

        <div class="text-right">
            <a href='{{ path('admin.property.new') }}' class="btn btn-primary">Crée un bien</a>
        </div>

    </div>
{% endblock %}