<div class="mt-4 mb-4 w-75 m-auto">
	{{ form_start(form) }}
	<div class="col-md-12">
		<div class="row" style="justify-content: center;">
			<div class="col-md-6">{{ form_row(form.title) }}</div>
			<div class="col-md-6">{{ form_row(form.categorie) }}</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="row" style="justify-content: center;">
			<div class="col-md-6">{{ form_row(form.rough_draft) }}</div>
			<div class="col-md-6">{{ form_row(form.pictureFiles) }}</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="row" style="justify-content: center;">
			<div class="col-md-5">{{ form_row(form.smallContent) }} <div id="counter"></div></div>
		</div>
	</div>	

	<div class="col-md-12">
		<div class="row" style="justify-content: center;">
			<div class="col-md-10">{{ form_row(form.largeContent) }} {{ form_row(form.author, {'attr': { 'value': app.user.username } }) }}</div>
		</div>
	</div>	
	
	<div class="row mb-4">
		<div class="col-md-12">
			<div class="row" style="justify-content: center;">
				{% for picture in blog.pictures %}
					<div class="" style="width: 300px; margin: 5px;">
						<img class="img-thumbnail" src="{{ vich_uploader_asset(picture, 'imageFile') }}" width="100%" alt="">
						<div style="position: relative;display: flex;margin: 0 auto;justify-content: space-around;">
							<a href="{{ path('admin.picture4.delete', {id: picture.id}) }}" class="btn btn-danger mt-2" data-delete data-token="{{ csrf_token('delete' ~ picture.id) }}">Supprimer</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>	

	{{ form_rest(form) }}
	<div class="row mb-4">
		<div class="m-auto">
			<div class="row" style="justify-content: space-around;">
				<button class="button-submit">{{ button|default('Enregistrer') }}</button>
			</div>
		</div>
	</div>	
	{{ form_end(form) }}
</div>

{% block javascripts %}
<script src="{{ asset('js/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
{% endblock %}