{% extends "base.html.twig" %}

{% block title 'AgenceWeb - Toutes nos locations' %}

{% block body %}

        <div class="container w-50">

        <p class="title-cont">Affiner les résultats : </p>

        <hr class="mb-4" />
        
        {{ form_start(form) }}
        <div style="display: flex; justify-content: center;">
            <div class="form-row">
                <div class="col-4">
                    {{ form_row(form.minSurface) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.maxPrice) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.options) }}
                </div>
            </div>
        </div>
        <div style="display: flex; justify-content: center;">
            <div class="form-row">
                <div class="col-9 m-auto">
                    {{ form_row(form.address, {'id': 'search_address'}) }}
                </div>
                <div class="col-md-12">
                    <div class="form-group text-center range">
                        {{ form_row(form.distance) }}
                    </div>  
                </div>
                <div class="col">
                    <div class="form-group text-center">
                        <button class="button-submit">Rechercher</button>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}

            <hr/>

        </div>

    <div class="container mt-4">  

        <p class="title-cont">Voir toutes nos locations</p>

        <hr/>

        <div class="row">
            {% for rents in rent %}
            <div class="col-md-4 mb-4">
                {% include 'rent/_rent.html.twig' %}
            </div>
            {% endfor %}
        </div>

        <hr/>

        <div class="row mt-4">
            <div class="col-12 col-md-12 col-xl-12" style="display: flex;justify-content: space-around;">
                {{ knp_pagination_render(rent) }}
            </div>
        </div>
    </div>    
{% endblock %}