{% extends "base.html.twig" %}

{% block title globals.title ~ ' - Presse, communiqués, actualités' %}

{% block body %}
        <div class="container w-50">

        <p class="title-cont">Affiner les résultats : </p>

        <hr class="mb-4" />
        
        {{ form_start(form) }}
        <div style="display: flex; justify-content: center;">
            <div class="form-row">
                <div class="col-4">
                    {{ form_row(form.title) }}
                </div>

                <div class="col-4" style="margin-right: -13px;">
                    {{ form_row(form.categorie) }}
                </div>

                <div class="col-4">
                    {{ form_row(form.createdAt) }}
                </div>
            </div>
        </div>
        <div style="display: flex; justify-content: center;">
            <div class="form-row">
                <div class="col">
                    <div class="form-group text-center">
                        <button class="button-submit">Rechercher</button> <button id="display_date" class="button-submit ml-2">Trier par date</button> <button onClick="window.location.reload();" id="display" style="display: none; width: 150px;" class="button-submit ml-2">Remettre à zéro</button>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}

        <div id="dtBox"></div>

            <hr/>

        </div>

        {% include 'blog/_blog.html.twig' %}

        {% include 'blog/_blogDate.html.twig' %}
  

        <div class="row mt-4">
            <div class="col-12 col-md-12 col-xl-12" style="display: flex;justify-content: space-around;">
                {{ knp_pagination_render(blogs) }}
            </div>
        </div>
    </div>    
{% endblock %}