<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ globals.title }}{% endblock %}</title>

        <!-- Primary Meta Tags -->
        <meta name="description" content="{% block description %}{{ globals.description }}{% endblock %}">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://agence-web.website{% block url %}{% endblock %}">
        <meta property="og:title" content="{% block title2 %}{{ globals.title }}{% endblock %}">
        <meta property="og:description" content="{% block description2 %}{{ globals.description }}{% endblock %}">
        <meta property="og:image" content="{{ '/images/ban.jpg' }}">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://agence-web.website{% block url2 %}{% endblock %}">
        <meta property="twitter:title" content="{% block title3 %}{{ globals.title }}{% endblock %}">
        <meta property="twitter:description" content="{% block description3 %}{{ globals.description }}{% endblock %}">
        <meta property="twitter:image" content="{{ '/images/ban.jpg' }}">
        
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="https://agence-web.website/images/favicon.png" />

        <link rel="stylesheet" href="../../../../css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="../../../../css/select2.min.css">
        <!-- Google Fonts -->
        <link
        href="../../../../css/css.css"
        rel="stylesheet"
        />
        <!-- MDB -->
        <link
        href="../../../../css/mdb.min.css"
        rel="stylesheet"
        />
        <link href="../../../../css/mapbox-gl.css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ asset('build/app.css') }}"></link>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
             <a class="navbar-brand" href="/">
                <img src="/images/cropped-icone.png" width="30" height="30" class="d-inline-block align-top mr-2" alt="{{ globals.title }}">
                {{ globals.title }}
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    {% for website in globals.menu %}
                    <li class="nav-item {% if app.request.requesturi == '/' ~ website.link %}active{% endif %}">
                        <a class="nav-link" href="../{{ website.link }}">{{ website.button }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% if app.user %}

                <ul class="navbar-nav">

                {% if is_granted('ROLE_SUPER_ADMIN') %}

                   <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Administration
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for website in globals.menuAdmin %}
                        <a class="dropdown-item" href="../../../../{{ website.link }}"><i class="fas {{ website.icon }} mr-2"></i>{{ website.button }}</a>
                        <div class="dropdown-divider"></div>
                        {% endfor %}
                        </div>  
                    </li>
                
                {% endif %}

                {% if is_granted('ROLE_PRO') %}
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Professionnel
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for website in globals.menuPro %}
                        <a class="dropdown-item" href="../../../../{{ website.link }}"><i class="fas {{ website.icon }} mr-2"></i>{{ website.button }}</a>
                        <div class="dropdown-divider"></div>
                        {% endfor %}
                        </div>  
                    </li>
                
                {% endif %}

                    {% for website in globals.menu2 %}
                        {% if website.button4 != null %}
                        <li class="nav-item {% if app.request.requesturi == '/' ~ website.link4 %}active{% endif %}">
                            <a href="../../../{{ website.link4 }}" class="nav-link">{{ website.button4 }}</a>
                        </li>
                        {% endif %}
                        {% if website.button3 != null %}    
                        <li class="nav-item">
                            <a href="../../../{{ website.link3 }}" class="nav-link">{{ website.button3 }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}

                </ul>

                {% else %}   

                    <ul class="navbar-nav">
                    {% for website in globals.menu2 %}
                        {% if website.button1 != null %}
                        <li class="nav-link">
                            <a href="../../../{{ website.link1 }}" class="btn btn-outline-success nav-link text-white text-bold">{{ website.button1 }}</a>
                        </li>
                        {% endif %}
                        {% if website.button2 != null %}
                        <li class="nav-link">
                            <a href="../../../{{ website.link2 }}" class="btn btn-outline-info nav-link text-white text-bold">{{ website.button2 }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}    
                    </ul>

                {% endif %}
            </div>
        </nav>

        <div class="jumbotron text-center jumb-head">
            <div class="head-title">
                <h1 class="mt-5">{{ globals.title }}</h1>
                <p class="mt-5">{{ globals.description }}</p>
            </div>
        </div>

        {% block body %}
            
        {% endblock %}

        <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
            {% for social in globals.social %}
            {% if social.facebook != null %}
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="{{ social.facebook }}" role="button"
                ><i class="fab fa-facebook-f"></i
            ></a>
            {% endif %}

            {% if social.twitter != null %}
            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="{{ social.twitter }}" role="button"
                ><i class="fab fa-twitter"></i
            ></a>
            {% endif %}

            {% if social.instagram != null %}
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="{{ social.instagram }}" role="button"
                ><i class="fab fa-instagram"></i
            ></a>
            {% endif %}

            {% if social.linkedin != null %}
            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="{{ social.linkedin }}" role="button"
                ><i class="fab fa-linkedin-in"></i
            ></a>
            {% endif %}

            {% endfor %}
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">

        <a href="#contact" class="link-footer">Contactez-nous</a> | <a href="" class="link-footer">Mentions légales</a> | <a href="" class="link-footer">CGU</a> | <a href="" class="link-footer">Données personnelles</a>

        <hr class="w-50 m-auto mb-3 mt-3">

            {{ globals.copyright }}

        </div>
        <!-- Copyright -->
        </footer>
        <script src="../../../../js/9d1d83a1dd.js" crossorigin="anonymous"></script>
        <script src="../../../../js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/MaxLength.min.js') }}"></script>
        <script src="../../../../js/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="../../../../js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
        <script src="../../../../js/select2.min.js"></script>
        <!-- MDB -->
        <script
        type="text/javascript"
        src="../../../../js/mdb.min.js"
        ></script>
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}
        {% endblock %}

    </body>
</html>
