{% extends "base.html.twig" %}

{% block title 'Gérer les options' %}

{% block body %}

    <div class="container mt-4 mb-4 w-25">

        <p class="title-cont">Gérer les options</p>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Action</th>
                </tr>    
            </thead>
            <tbody>
            {% for option in options %}
                <tr>
                    <td style="vertical-align: middle;">{{ option.name }}</td>
                    <td style="vertical-align: middle;">
                        <a href="{{ path('admin.option.edit', {id: option.id}) }}" class="btn btn-secondary">Editer</a>
                        <form method="post" action="{{ path('admin.option.delete', {id: option.id}) }}" style="display: inline-block;">
                            <input type="hidden" name="_method" value="DELETE" />
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ option.id) }}" />
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            <a href='{{ path('admin.option.new') }}' class="btn btn-primary">Crée une option</a>
        </div>

    </div>
{% endblock %}